* {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 300;
    height: auto;
}

.main-wrapper {
    min-height: calc(100vh - 126px);
    background-color: #FFFBE3;
}

a {
    color: #BF6770;
    text-decoration: none;
    cursor: default;
}

a:hover {
    color: #FFFFFF;
    cursor: pointer;
    cursor: hand;
}

.header {
    background-color: #EABCB1;
	padding-top: 30px;
	padding-bottom: 7px;
	margin-bottom: 18px;
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 9999;

}

.name {
    margin-top: 5px;
    font-size: 30px;
    color: #484848;
}

.contact {
    border-radius: 10px;
    padding: 60px;
    text-align: center;
    display: inline-block; /* To wrap the border just around the content */

}

.centeredborder {
    margin-top: 60px;
    text-align: center;
}

.mini {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 11px;
    padding-left: 280px;
}

.main-img {
	margin-top: 182px;
	max-width: 100%;
	height: auto;
}

.logo {
	z-index: 2;
	width: 100px;
}


.nav {
    margin-top: 12px;
    margin-left: 10%;
}

.nav-item {
    list-style: none;
    display: inline;
    margin-right: 12px;
    font-size: 15px;
}

.main {
    line-height: 1.5;
    font-weight: 300;
}

.sub {
    font-family: 'Anonymous Pro';
    font-weight: 700;
    /*text-transform: uppercase;*/
    font-size: 15px;
    letter-spacing: 2px;
    padding-top: 70px;
    text-align: center;
    margin-bottom: 40px;
}

.footer-sub {
	font-size: 30px;
}

.button {
	border: 2px solid #555555;
    border-radius: 10px;
	color: #FB9FB4;
	display: inline-block; /* To wrap the border just around the content */
	font-size: 20px;
	margin-top: 12px;
	padding: 12px 30px;
	cursor: default;
	background-color: transparent;
}

.button:hover {
	background-color: #8F8D8E;
	color: #FFFFFF;
	cursor: pointer;
    cursor: hand;
}

.circle {
    border: 5px solid #E6E8E8;
	border-radius: 50%;
}

.flex {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
   	display: -ms-flexbox;  /* TWEENER - IE 10 */
   	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
   	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
   	align-items: center;
}

.column {
	flex-direction: column;
}

.footer {
	text-align: center;
	width: 100%;
	margin-bottom: 2%;
}

.line {
	border-top: 2px solid #DDDDDD;
    position: fixed;
	width: 100%;
	margin-left: 1%;
	margin-right: 1%;
}

.titles {
    color: #FFFFFF;
    font-family: 'Anonymous Pro';
    letter-spacing: 0.2em;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
}

.row {
	flex-direction: row;
}

/* controls margin at top of title of page */
.image-wrapper {
	width: 63%;
}

.marquee {
    width: 300px;
    /* can control the margin at top of marquee*/
    margin: -17 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 30s linear infinite;
}

.marquee1 {
    width: 1300px;
    /* can control the margin at top of marquee*/
    margin: -17 auto;
    overflow: hidden;
    white-space: nowrap;
    /*box-sizing: border-box;*/
    animation: marquee 30s linear 0s infinite /*reverse*/ none;
}

.marquee:hover {
    animation-play-state: paused
}

/* scroll box for the journal entries */
.scroll {
	width: 750px;
    height: 230px;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    background-color: #3A393B;
}

.resumescroll {
    width: 750px;
    height: 230px;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #484848;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

@media (max-width: 481px) {
    .main {
       font-size: 34px;
    }

    .sub {
       font-size: 24px;
    }

    .image-wrapper{
    	width: 95%;
    }
}

@media (min-width: 481px) and (max-width:630px) {
    .main {
       font-size: 46px;
    }

    .sub {
       font-size: 33px;
    }

    .image-wrapper{
    	width: 75%;
    }
}

@media (min-width: 630px) and (max-width:767px) {
    .main {
    	font-size: 64px;
    }

    .sub {
       font-size: 46px;
    }

    .image-wrapper{
    	width: 65%;
    }
}

.input-field {
    width: 80%;
    max-width: 700px;
    margin: 1%;
    line-height: 2em;
    padding: 6px;
    font-size: 1em;
    border-radius: 3px;
    border: none;
   }

#mportfolio {
    height: 800px;
    background-color: #FAF1DE;
    color: #BFAF97;
}

#resume {
    background-color: #2B2428;
    color: #FFFFFF;
    height: 1590px;
}
.resmargin {
    margin-left: 261px;
}

.r-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 11px;
    padding-bottom: 30px;
    border-bottom: 1px solid #999999;
    width: 60%;
    margin-bottom: 40px;
}

.logo img {
    height: 80px;
    width: auto;
    float: left;
    position: relative;
    left: 158px;
    bottom: 12px;
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}


.school {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-left: 180px;
    display: inline-block;
}

.location {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 20px;
    display: inline-block;
}

.date {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    right: 264px;
}

.description {
    font-size: 15px;
}

.bullets {
    margin-top: 10px;
    margin-left: 270px;
}

#contact {
    margin-top: -120px;
    background-color: #F1C3AB;
}



